{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="title" placeholder="Title" required>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="description" cols="100"
                                      placeholder="Add a Description"></textarea>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="number" name="quantity" placeholder="Quantity" required>
                        </div>

                        <button class="btn btn-primary" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="6">Inventory/Items</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                {% for inventory in inventories %}
                <tr>
                    <td>{{inventory.id}}</td>
                    <td><strong>{{inventory.title}}</strong></td>
                    <td>{{inventory.description}}</td>
                    <td>{{inventory.quantity}}</td>
                    <td>{{inventory.status}}</td>
                    <td>
                        {% if inventory.status == "DELETED" %}
                        <a class="btn btn-warning"
                           href="/undo/{{inventory.id}}">
                            Undo
                        </a>
                        {% else %}
                        <a class="btn btn-info"
                           href="/update/{{inventory.id}}">
                            Edit
                        </a>
                        <a class="btn btn-danger"
                           href="/delete/{{inventory.id}}">
                            Delete
                        </a>
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="6">Operation(s) History</th>
                </tr>
                <tr>
                    <th>Id</th>
                    <th>Entity</th>
                    <th>Entity ID</th>
                    <th>Comment</th>
                    <th>Original Operation</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for history in histories %}
                <tr>
                    <td>{{history.id}}</td>
                    <td>{{history.entity}}</td>
                    <td>{{history.entity_id}}</td>
                    <td>{{history.comment}}</td>
                    <td>{{history.operation}}</td>
                    <td>{{history.status}}</td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

{% endblock %}





