{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="/delete/{{inventory.id}}" method="post">
                        <div class="form-group">
                            <input readonly class="form-control" type="text" name="title" placeholder="Title" value="{{inventory.title}}" required>
                        </div>
                        <div class="form-group">
                            <textarea readonly class="form-control" name="description" cols="100"
                                      placeholder="Add a Description" required> {{inventory.description}} </textarea>
                        </div>
                        <div class="form-group">
                            <input readonly class="form-control" type="number" name="quantity" placeholder="Quantity" value="{{inventory.quantity}}" required>
                        </div>

                        <hr>

                        <div class="form-group">
                            <textarea class="form-control" name="comment" cols="100"
                                      placeholder="Add a Comment" required></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}





